@import '~@angular/material/theming';
@import 'palette';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$midasoft-app-primary: mat-palette($md-midaprimary);
$midasoft-app-accent: mat-palette($md-midaaccent);

// The warn palette is optional (defaults to red).
$midasoft-app-warn: mat-palette($md-midaerror);

// Create the theme object (a Sass map containing all of the palettes).
$midasoft-app-theme: mat-light-theme($midasoft-app-primary, $midasoft-app-accent, $midasoft-app-warn);
$midasoft-app-dark-theme: mat-dark-theme($midasoft-app-primary, $midasoft-app-accent, $midasoft-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($midasoft-app-theme);

.dark-theme {
  color: white;
  background: map-get($map: $md-midaprimary, $key: 800);
  @include angular-material-theme($midasoft-app-dark-theme);
}

.full-width {
  width: 100%;

  .mat-form-field-infix {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
}

a {
  color: map-get($midasoft-app-primary, 400);
}

.mat-table {
  width: 100%;
}

.mat-card-title {
  font-family: 'Encode Sans Condensed', sans-serif;
}
