.login-container>.row {
  height: 100vh;
  background: #fdfdfd;

  .company-logo-container {
    text-align: center;
    margin-bottom: 2rem;

    img {
      max-height: 80px;
      width: auto;
    }
  }

  .md-banner {
    background-image: url(/assets/login-back.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
  }

  .forgot-password {
    text-align: left;
  }

  .login-form {
    padding: 10%;
  }

  .actions {
    margin-top: 2rem;

    .login-action {
      text-align: right;
    }
  }
}
