<app-empty-layout>
  <div class="login-container">
    <div class="row align-items-center">
      <div class="offset-md-3 col-sm-6 col-md-3 company-img-container">
        <img src="./assets/logo_cia.png" class="img-fluid" width="300" alt="Praxedes">
      </div>
      <div class="col-sm-6 col-md-3 login-form">
        <mat-card>
          <mat-card-content>
            <mat-error *ngIf="wrongCredentials">
              Por favor verifique el nombre de usuario y la contraseña
            </mat-error>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-control">

                <mat-form-field class="full-width">
                  <mat-select placeholder="Compañía" formControlName="companyId">
                    <mat-option *ngFor="let compania of companias" [value]="compania.code">
                      {{compania.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="loginForm.get('companyId').invalid">
                    Por favor seleccione una compañía
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-control">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Usuario" formControlName="username" required>
                  <mat-error *ngIf="loginForm.get('username').invalid">
                    Usuario es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-control">
                <mat-form-field class="full-width">
                  <input type="password" matInput placeholder="Contraseña" formControlName="password" required>
                  <mat-error *ngIf="loginForm.get('password').invalid">
                    La contraseña es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="forgot-password">
                <a mat-button>¿Ha olvidado su contraseña?</a>
              </div>
              <div class="actions">
                <button mat-raised-button color="primary">INGRESAR</button>
                <button mat-raised-button color="accent">REGISTRARSE</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>

</app-empty-layout>
