<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="main-menu-sidenav dark-theme">

    <!-- <a class="navbar-brand" href="#">
        <app-company-logo></app-company-logo>
      </a> -->
    <app-main-menu></app-main-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="header">
      <app-header></app-header>
    </header>

    <main class="container-fluid main-container">
      <ng-content></ng-content>
    </main>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>

  </mat-sidenav-content>



</mat-sidenav-container>
