@import 'palette';

.mat-sidenav-container {
  min-height: 100vh;
}

.main-menu-sidenav {
  border-right: 1px solid #737e84;
}

.main-container {
  padding-top: 4rem;
}

.header {
  background: #fff;
  border-bottom: 1px solid lighten(map-get($map: $md-midaprimary, $key: 100), .3);
  position: fixed;
  margin-bottom: .5rem;
  width: calc(100% - 3.9rem);
  z-index: 1;
}

.navbar-nav {
  >li {
    margin: 0 10px;
  }

  .module-name {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
  }
}
