<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="expanded || !sidenavOpened ? 'over' : 'side'" [opened]="sidenavOpened" class="main-menu-sidenav dark-theme"
    [class.main-menu-expanded]="expanded" [disableClose]="sidenavOpened">
    <app-main-menu (sideNavExpanded)="changeExpand($event)" [expanded]="!sidenavOpened"></app-main-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="header">
      <button mat-icon-button *ngIf="!sidenavOpened" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-header></app-header>
    </header>

    <main class="container-fluid main-container">
      <ng-content></ng-content>
    </main>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>
