.navbar-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 50;
}

main {
  padding-top: 100px;
  padding-bottom: 115px;
}

.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 50;
}


.navbar-nav {
  >li {
    margin: 0 10px;
  }

  .module-name {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
  }
}
