<h1 *ngIf="!item">Main Menu</h1>
<h1 *ngIf="item">
  <button mat-icon-button color="primary" (click)="goToMenuItem(item.ParentId)">
    <mat-icon aria-label="Atrás">arrow_back</mat-icon>
  </button>{{item.Name}}
  <button mat-icon-button color="accent" class="favorites-button" (click)="favorites = !favorites" [matTooltip]="favorites ? 'Eliminar de Favoritos' : 'Agregar a Favoritos'">
    <ng-container *ngIf="favorites">
      <mat-icon>star</mat-icon>
    </ng-container>
    <ng-container *ngIf="!favorites">
      <mat-icon>star_border</mat-icon>
    </ng-container>
  </button>
</h1>
