<h1>Gestión de actividades</h1>
<app-panel *ngIf="actividades?.length; else loadingTemplate">
  <app-panel-header>
    Actividades
  </app-panel-header>
  <app-panel-actions>

    <button mat-button (click)="add()">
      <fa-icon [icon]="faPlusIcon"></fa-icon>
    </button>
  </app-panel-actions>
  <app-panel-content>
    <mat-form-field>
      <input (keyup)="onFiltrarActividades($event.target.value)" matInput name="filter" id="filterField" placeholder="Filtrar">
    </mat-form-field>


    <table mat-table [dataSource]="actividadesMostradas" class="mat-elevation-z2">

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="CodigoEmpleado">
        <th mat-header-cell *matHeaderCellDef> COD. EMPLEADO </th>
        <td mat-cell *matCellDef="let element"> {{element.CodigoEmpleado}} </td>
      </ng-container>

      <ng-container matColumnDef="FechaProgramada">
        <th mat-header-cell *matHeaderCellDef> FECHA PROGRAMADA </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaProgramada | longDate}} </td>
      </ng-container>

      <ng-container matColumnDef="CentroCosto">
        <th mat-header-cell *matHeaderCellDef> CENTRO COSTO </th>
        <td mat-cell *matCellDef="let element"> {{element.CentroCosto}} </td>
      </ng-container>

      <ng-container matColumnDef="UsuarioAutoriza">
        <th mat-header-cell *matHeaderCellDef> USUARIO AUTORIZADOR </th>
        <td mat-cell *matCellDef="let element"> {{element.UsuarioAutoriza}} </td>
      </ng-container>

      <ng-container matColumnDef="UsuarioRegistro">
        <th mat-header-cell *matHeaderCellDef> USUARIO REGISTRO </th>
        <td mat-cell *matCellDef="let element"> {{element.UsuarioRegistro}} </td>
      </ng-container>

      <ng-container matColumnDef="TipoMovimiento">
        <th mat-header-cell *matHeaderCellDef> TIPO MOVIMIENTO </th>
        <td mat-cell *matCellDef="let element"> {{element.TipoMovimiento}} </td>
      </ng-container>

      <ng-container matColumnDef="TipoRegistro">
        <th mat-header-cell *matHeaderCellDef> TIPO REGISTRO </th>
        <td mat-cell *matCellDef="let element"> {{element.TipoRegistro}} </td>
      </ng-container>

      <ng-container matColumnDef="Horario">
        <th mat-header-cell *matHeaderCellDef> HORARIO </th>
        <td mat-cell *matCellDef="let element"> {{element.Horario}} </td>
      </ng-container>

      <ng-container matColumnDef="Directorio">
        <th mat-header-cell *matHeaderCellDef> DIRECTORIO </th>
        <td mat-cell *matCellDef="let element"> {{element.Directorio}} </td>
      </ng-container>

      <ng-container matColumnDef="FechaMarcacion">
        <th mat-header-cell *matHeaderCellDef> FECHA MARCACIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaMarcacion}} </td>
      </ng-container>

      <ng-container matColumnDef="Novedad">
        <th mat-header-cell *matHeaderCellDef> FECHA NOVEDAD </th>
        <td mat-cell *matCellDef="let element"> {{element.Novedad}} </td>
      </ng-container>

      <ng-container matColumnDef="Observacion">
        <th mat-header-cell *matHeaderCellDef> OBSERVACIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.Observacion}} </td>
      </ng-container>


      <ng-container matColumnDef="Dispositivo">
        <th mat-header-cell *matHeaderCellDef> DISPOSITIVO </th>
        <td mat-cell *matCellDef="let element"> {{element.Dispositivo}} </td>
      </ng-container>

      <ng-container matColumnDef="Compania">
        <th mat-header-cell *matHeaderCellDef> COMPAÑÍA </th>
        <td mat-cell *matCellDef="let element"> {{element.Compania}} </td>
      </ng-container>

      <ng-container matColumnDef="Contrato">
        <th mat-header-cell *matHeaderCellDef> CONTRATO </th>
        <td mat-cell *matCellDef="let element"> {{element.Contrato}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </app-panel-content>

  <app-panel-footer>Número de registros: {{actividadesMostradas?.length}} de {{actividades?.length}}</app-panel-footer>
  <app-color-conventions [conventions]="[{ color: 'red', description: 'Rechazado'}]">
  </app-color-conventions>
</app-panel>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
