<div class="col">
  <small>
    Copyright © Praxedes Midasoft Group S.A.S Colombia<br>
    Medellín, Barrio El Poblado. Calle 16 # 41 – 210. Oficina 706. Edificio La Compañía.<br>
    Tel (+574) 604 46 46 | Bogotá Tel (+571) 744 11 30
  </small>

</div>
<div class="col">
  <small>
    <a href="mailto:helpdesk@praxedes-group.com">helpdesk@praxedes-group.com
    </a>| <a href="http://www.praxedes-group.com" target="_blank">www.praxedes-group.com </a>
    <br>
    Resolución mínima recomendada 1366*768px<br>
    Navegadores recomendados
    <a id="aifirefox" href="https://www.mozilla.org/es-ES/firefox/new/" target="_blank" title="" rel="tooltip"
      data-toggle="tooltip" data-placement="top" onmouseover="javascript:$('#aifirefox').tooltip('show');"
      data-original-title="Mozilla Firefox">
      <!-- <span class="fab fa-lg fa-firefox"></span> --></a>
    |
    <a id="aichrome" href="https://www.google.com/intl/es-419/chrome/browser/" target="_blank" title="" rel="tooltip"
      data-toggle="tooltip" data-placement="top" onmouseover="javascript:$('#aichrome').tooltip('show');"
      data-original-title="Google Chrome">
    </a>
    <br>
    <span id="ctl00_tversion" class="pull-right small">V.2018.18.08.17.08.02(4.0.0.0)</span>
  </small>
</div>
