@import 'variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/navbar';
@import 'app/styles/midasoft.material';

body {
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  min-height: 100vh;

}

* {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
header,
.sub-header {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: normal;
}


h1 {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.form-actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;

  &>button,
  a {
    margin-left: 10px;
  }
}
