<nav>
  <ul class="menu-items">
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>menu</mat-icon>
      </a>
    </li>
    <li class="menu-item-container active">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="menu-item-container">
      <a href="#" class="menu-item-link">
        <mat-icon>home</mat-icon>
      </a>
    </li>
  </ul>
</nav>
