@import 'palette';

.user-menu {
  display: flex;
  flex-direction: row;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: stretch;
  padding: 0px;

  .menu-item-container {
    list-style: none;
    width: 100%;
    display: flex;

    &.active .menu-item-link {
      background: map-get($map: $md-midaprimary, $key: 900);
    }

    .menu-item-link {
      padding: 1rem;
      display: flex;
      color: map-get($map: $md-midaprimary, $key: 100);

      &:hover {
        text-decoration: none;
        color: white;
      }

      .mat-icon {
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .menu-item-text {
      display: none;
    }
  }
}
